<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>XX后台管理系统</title>
  <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <div class=" box">
      <div class="head_nav">
          <span>XXX后台管理系统</span>
          <ul class="nav nav-pills">
              <li class="list shouye_list">
                  <a href="/login.html">退出</a>
              </li>
              <li class="list shouye_list">
                  <a href="/">欢迎您</a>
              </li>
          </ul>
  
      </div>
      <div class="main shouye_main">
        <div class="row">
            <%- include('./common/left') %>
          <div class="col-md-9">
            <div class="welcome">
              这是手机管理页面
            </div>
          </div>
        </div>
      </div>
      <%- include('./common/foot') %>
  </div>

</body>

</html>