<div class="col-md-3 col3">
    <ul class="nav nav-pills nav-stacked">
        <li class="list">
            <a href="/users">
                <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp; 用户管理
            </a>
        </li>
        <li class="list">
            <a href="/phone">
                <i class="glyphicon glyphicon-phone"></i>&nbsp;&nbsp; 手机管理
            </a>
        </li>
        <li class="list">
            <a href="/brand">
                <i class="glyphicon glyphicon-file"></i>&nbsp;&nbsp; 品牌管理
            </a>
        </li>
    </ul>
</div>
<script src="https://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
<script src="/js/phone.js "></script>